<nav *ngIf="showNavBar" class="navbar navbar-dark bg-dark mb-5">
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="javascript:void(0)" [routerLink]="['/dashboard']">Dashboard</a>
      <a class="nav-item nav-link" href="javascript:void(0)" [routerLink]="['/register']">Register </a>
      <a class="nav-item nav-link" href="javascript:void(0)" [routerLink]="['/create-training']">Create Training</a>
      <a class="nav-item nav-link" href="javascript:void(0)" [routerLink]="['/edit-training']">Edit Training</a>
      <a class="nav-item nav-link" href="javascript:void(0)" [routerLink]="['/create-quiz']">Create Training Quiz</a>
    </div>
  </div>
  <div class="navbar-expand">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="javascript:void(0)" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
<div class="col-sm-10 offset-sm-1"><router-outlet></router-outlet></div>
